<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary dashboard-box px-2 py-1">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="h4 text-light text-outline stroke-shadow">Entities Collected</div>
              </div>
            </div>
            <ng-container *ngFor="let key of getDashboardKeys()">
              <div class="row no-gutters rounded mb-1">
                <div *ngIf="getDashboardKeyCount(key)" class="card w-100">
                  <div class="card-header alert-info font-weight-bold">
                    {{ key }} Entities
                  </div>
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div *ngFor="let listNumber of getListNumber(key); let index=index;" class="col-lg-6 dashboard-list-fragment">
                          <ul class="list-unstyled px-0">
                            <li *ngFor="let item of getDashboardFragment(key, index) | keyvalue">
                              <div class="dashboard-item">
                                <span class="dashboard-item-label d-inline-block" ngbTooltip="{{item.key}}" container="body">{{ item.key }}:</span>
                                <span class="dashboard-item-value d-inline-block pull-right text-right">{{ item.value }}</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary control-box px-2 py-1">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="h4 text-light text-outline stroke-shadow">Data Sources</div>
              </div>
              <div class="col">
                <button class="btn btn-sm btn-danger rounded pull-right mt-1" (click)="flushStore()" type="button">Reset</button>
              </div>
            </div>
            <ng-container *ngFor="let key of ['CIA World Factbook', 'CIA World Leaders', Airports/Helos];">
              <div
                *ngIf="isComplete(key)"
                class="row no-gutters rounded bg-info display-item mb-1"
                [class.green-border]="selected === key"
                [ngClass]="getAlertStatus(key)"
                (click)="switchSelected(key)">
                <div class="col my-auto">
                  <div class="text-dark pl-2">{{ key }}</div>
                </div>
                <div class="col no-outline pr-1 pt-1">
                  <button *ngIf="getButtonStatus(key).info"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrape(key)">
                    <span class="fa fa-play-circle-o"></span>
                  </button>
                  <button *ngIf="isScrapingBusy(key)"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                    <span class="fa fa-spinner fa-spin"></span>
                  </button>
                  <button *ngIf="getButtonStatus(key).danger"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrape(key)">
                    <span class="fa fa-refresh"></span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary display-box p-2">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="h4 text-light text-outline stroke-shadow">
                  Countries
                </div>
              </div>
            </div>
            <ng-container *ngIf="selected === 'CIA World Factbook'; else leadersTemplate">
              <div class="row" *ngFor="let country of countries">
                <div *ngIf="country.status['CIA World Factbook'] !== 2" class="col-12">
                  <div
                    class="row no-gutters rounded bg-info display-item mb-1"
                    [ngClass]="{'alert-info': country.status['CIA World Factbook'] === 0, 'alert-warning': country.status['CIA World Factbook'] === 1, 'alert-danger': country.status['CIA World Factbook'] === -1}">
                    <div class="col-10 my-auto">
                      <div class="display-item-label text-dark pl-2">{{ country.name }}</div>
                    </div>
                    <div class="col-2 no-outline pr-1 pt-1">
                      <button *ngIf="country.status['CIA World Factbook'] === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeCountryByName(country.name)">
                        <span class="fa fa-play-circle-o"></span>
                      </button>
                      <button *ngIf="country.status['CIA World Factbook'] === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                        <span class="fa fa-spinner fa-spin"></span>
                      </button>
                      <button *ngIf="country.status['CIA World Factbook'] === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeCountryByName(country.name)">
                        <span class="fa fa-refresh"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #leadersTemplate>
              <ng-container *ngIf="selected === 'CIA World Leaders'; else airportTemplate">
                <div class="row" *ngFor="let country of countries">
                  <div *ngIf="country.status['CIA World Leaders'] !== 2" class="col-12">
                    <div
                      class="row no-gutters rounded bg-info display-item mb-1"
                      [ngClass]="{'alert-info': country.status['CIA World Leaders'] === 0, 'alert-warning': country.status['CIA World Leaders'] === 1, 'alert-danger': country.status['CIA World Leaders'] === -1}">
                      <div class="col-10 my-auto">
                        <div class="display-item-label text-dark pl-2">{{ country.name }}</div>
                      </div>
                      <div class="col-2 no-outline pr-1 pt-1">
                        <button *ngIf="country.status['CIA World Leaders'] === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeLeadersOfCountryByName(country.name)">
                          <span class="fa fa-play-circle-o"></span>
                        </button>
                        <button *ngIf="country.status['CIA World Leaders'] === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                          <span class="fa fa-spinner fa-spin"></span>
                        </button>
                        <button *ngIf="country.status['CIA World Leaders'] === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeLeadersOfCountryByName(country.name)">
                          <span class="fa fa-refresh"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #airportTemplate>
              <div class="row" *ngFor="let airportSource of airportSources">
                <div *ngIf="airportSource.status !== 2" class="col-12">
                  <div
                    class="row no-gutters rounded bg-info display-item mb-1"
                    [ngClass]="{'alert-info': airportSource.status === 0, 'alert-warning': airportSource.status === 1, 'alert-danger': airportSource.status === -1}">
                    <div class="col-10 my-auto">
                      <div class="display-item-label text-dark pl-2">{{ airportSource.name }}</div>
                    </div>
                    <div class="col-2 no-outline pr-1 pt-1">
                      <button *ngIf="airportSource.status === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeAirportHeloSourceByName(airportSource.name)">
                        <span class="fa fa-play-circle-o"></span>
                      </button>
                      <button *ngIf="airportSource.status === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                        <span class="fa fa-spinner fa-spin"></span>
                      </button>
                      <button *ngIf="airportSource.status === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeAirportHeloSourceByName(airportSource.name)">
                        <span class="fa fa-refresh"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary dashboard-box px-2 py-1">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="h4 text-light text-outline stroke-shadow">Export Options</div>
              </div>
            </div>
            <!-- <div class="row no-gutters rounded mb-1">
              <div *ngFor="let item of getDashboard('factbook') | keyvalue" class="d-inline-block display-item rounded ml-1 mt-1 pt-2 px-2">
                <div>{{ item.key }}: {{ item.value }}</div>
              </div>
            </div>
            <hr/>
            <div class="row no-gutters rounded mb-1">
              <div *ngFor="let item of getDashboard('leaders') | keyvalue" class="d-inline-block display-item rounded ml-1 mt-1 pt-2 px-2">
                <div>{{ item.key }}: {{ item.value }}</div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
