.control {
    box-shadow: 0 0 0 0.1rem rgba(23, 20, 31, 0.5);
    box-sizing: border-box;
    height: 4rem;
    max-height: 4rem;
    min-height: 4rem;
}

.control-box {
    box-shadow: 0 0 0.1rem 0.1rem rgba(200, 200, 200, 1);
    box-sizing: border-box;
    height: calc(45vh - 72px);
    margin-bottom: 2vh;
    max-height: calc(45vh - 72px);
    min-height: calc(45vh - 72px);
    overflow-y: auto;
}

.dashboard-box {
    box-shadow: 0 0 0.1rem 0.1rem rgba(200, 200, 200, 1);
    box-sizing: border-box;
    height: calc(92vh - 72px);
    margin-bottom: 2vh;
    max-height: calc(92vh - 72px);
    min-height: calc(92vh - 72px);
    overflow-y: auto;
}

.dashboard-item {
    white-space: nowrap;
}

.dashboard-item-label {
    max-width: 85%;
    min-width: 85%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.dashboard-item-value {
    max-width: 15%;
    min-width: 15%;
    width: 15%;
}

.dashboard-list-fragment {
    max-height: 150px;
}

.display-box {
    box-shadow: 0 0 0.1rem 0.1rem rgba(200, 200, 200, 1);
    box-sizing: border-box;
    height: 45vh;
    margin-bottom: 2vh;
    max-height: 45vh;
    min-height: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.display-item {
    box-shadow: 0 0 0 0.1rem rgba(23, 20, 31, 0.5);
    box-sizing: border-box;
    height: 2.4rem;
    max-height: 2.4rem;
    min-height: 2.4rem;
    white-space: nowrap;
}

.display-item-label {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.green-border {
    border: 2px solid #009900;
    font-weight: bold;
    padding-bottom: 2.41rem;
}