<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary dashboard-box px-2 py-1">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="h4 text-light text-outline stroke-shadow">Entities Collected</div>
              </div>
            </div>
            <ng-container *ngFor="let key of getDashboardKeys()">
              <div class="row no-gutters rounded mb-1">
                <div *ngIf="getDashboardKeyCount(key)" class="card w-100">
                  <div class="card-header alert-info font-weight-bold">
                    {{ key }} Entities
                  </div>
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div *ngFor="let listNumber of getListNumber(key); let index=index;" class="col-lg-6 dashboard-list-fragment">
                          <ul class="list-unstyled px-0">
                            <li *ngFor="let item of getDashboardFragment(key, index) | keyvalue">
                              <div class="dashboard-item">
                                <span class="dashboard-item-label d-inline-block" ngbTooltip="{{item.key}}" container="body">{{ item.key }}:</span>
                                <span class="dashboard-item-value d-inline-block pull-right text-right">{{ item.value }}</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="getDashboardKeyCount(key)" class="my-1"/>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary control-box px-2 py-1">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="h4 text-light text-outline stroke-shadow">Data Sources</div>
              </div>
              <div class="col">
                <button class="btn btn-sm btn-danger rounded pull-right mt-1" (click)="flushStore()" type="button">Reset</button>
              </div>
            </div>
            <ng-container *ngFor="let key of scrapeKeys;">
              <div
                *ngIf="!isComplete(key.label, key.hasSubResources)"
                class="row no-gutters rounded bg-info display-item mb-1"
                [class.green-border]="selected === key.label"
                [ngClass]="getAlertStatus(key.label, key.hasSubResources)"
                (click)="switchSelected(key.label)">
                <div class="col my-auto">
                  <div class="text-dark pl-2">{{ key.label }}</div>
                </div>
                <div class="col no-outline pr-1 pt-1">
                  <button *ngIf="getButtonStatus(key.label, key.hasSubResources).info"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrape(key.label)">
                    <span class="fa fa-play-circle-o"></span>
                  </button>
                  <button *ngIf="isScrapingBusy(key.label, key.hasSubResources)"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                    <span class="fa fa-spinner fa-spin"></span>
                  </button>
                  <button *ngIf="getButtonStatus(key.label, key.hasSubResources).danger"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrape(key.label)">
                    <span class="fa fa-refresh"></span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary display-box p-2">
            <ng-container *ngIf="selected === 'CIA World Factbook'; else leadersTemplate">
              <div class="row no-gutters border-bottom pb-2 mb-2">
                <div class="col">
                  <div class="h4 text-light text-outline stroke-shadow">
                    Countries
                  </div>
                </div>
              </div>
              <div class="row" *ngFor="let country of countries">
                <div *ngIf="country.status['CIA World Factbook'] !== 2" class="col-12">
                  <div
                    class="row no-gutters rounded bg-info display-item mb-1"
                    [ngClass]="{'alert-info': country.status['CIA World Factbook'] === 0, 'alert-warning': country.status['CIA World Factbook'] === 1, 'alert-danger': country.status['CIA World Factbook'] === -1}">
                    <div class="col-10 my-auto">
                      <div class="display-item-label text-dark pl-2">{{ country.name }}</div>
                    </div>
                    <div class="col-2 no-outline pr-1 pt-1">
                      <button *ngIf="country.status['CIA World Factbook'] === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeCountryByName(country.name)">
                        <span class="fa fa-play-circle-o"></span>
                      </button>
                      <button *ngIf="country.status['CIA World Factbook'] === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                        <span class="fa fa-spinner fa-spin"></span>
                      </button>
                      <button *ngIf="country.status['CIA World Factbook'] === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeCountryByName(country.name)">
                        <span class="fa fa-refresh"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #leadersTemplate>
              <ng-container *ngIf="selected === 'CIA World Leaders'; else airportTemplate">
                <div class="row no-gutters border-bottom pb-2 mb-2">
                  <div class="col">
                    <div class="h4 text-light text-outline stroke-shadow">
                      Countries
                    </div>
                  </div>
                </div>
                <div class="row" *ngFor="let country of countries">
                  <div *ngIf="country.status['CIA World Leaders'] !== 2" class="col-12">
                    <div
                      class="row no-gutters rounded bg-info display-item mb-1"
                      [ngClass]="{'alert-info': country.status['CIA World Leaders'] === 0, 'alert-warning': country.status['CIA World Leaders'] === 1, 'alert-danger': country.status['CIA World Leaders'] === -1}">
                      <div class="col-10 my-auto">
                        <div class="display-item-label text-dark pl-2">{{ country.name }}</div>
                      </div>
                      <div class="col-2 no-outline pr-1 pt-1">
                        <button *ngIf="country.status['CIA World Leaders'] === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeLeadersOfCountryByName(country.name)">
                          <span class="fa fa-play-circle-o"></span>
                        </button>
                        <button *ngIf="country.status['CIA World Leaders'] === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                          <span class="fa fa-spinner fa-spin"></span>
                        </button>
                        <button *ngIf="country.status['CIA World Leaders'] === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeLeadersOfCountryByName(country.name)">
                          <span class="fa fa-refresh"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #airportTemplate>
              <ng-container *ngIf="selected === 'Airports/Helos'; else airlinesTemplate">
                <ng-container *ngFor="let subResource of subResources">
                  <div class="row no-gutters border-bottom pb-2 mb-2">
                    <div class="col">
                      <div class="h4 text-light text-outline stroke-shadow">
                        Airport/Helo Sources
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div *ngIf="!isComplete(subResource, true)" class="col-12">
                      <div
                        class="row no-gutters rounded bg-info display-item mb-1"
                        [ngClass]="getAlertStatus(subResource, true)"
                        ngbTooltip="This particular scraper curates thousands of entities and as such takes longer than usual to finish."
                        container="body">
                        <div class="col-10 my-auto">
                          <div class="display-item-label text-dark pl-2">{{ subResource.name }}</div>
                        </div>
                        <div class="col-2 no-outline pr-1 pt-1">
                          <button *ngIf="getButtonStatus(subResource, true).info"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeAirportHeloSourceByName(subResource.name)">
                            <span class="fa fa-play-circle-o"></span>
                          </button>
                          <button *ngIf="isScrapingBusy(subResource, true)"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                            <span class="fa fa-spinner fa-spin"></span>
                          </button>
                          <button *ngIf="getButtonStatus(subResource, true).danger"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeAirportHeloSourceByName(subResource.name)">
                            <span class="fa fa-refresh"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- If no all have status 0, then show list -->
                  <ng-container *ngIf="!getAllUntouched(subResource)">
                    <div class="row"  *ngFor="let subSource of getSubSource(subResources, subResource)">
                      <div class="col-12">
                        <div
                          class="row no-gutters rounded bg-info display-item mb-1"
                          [ngClass]="{'alert-info': subSource.status === 0, 'alert-warning': subSource.status === 1, 'alert-danger': subSource.status === -1}">
                          <div class="col-10 my-auto">
                            <div class="display-item-label text-dark pl-4">{{ subSource.name }}</div>
                          </div>
                          <div class="col-2 no-outline pr-1 pt-1">
                            <button *ngIf="subSource.status === 1" class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                              <span class="fa fa-spinner fa-spin"></span>
                            </button>
                            <button *ngIf="subSource.status === 2" class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                              <span class="fa fa-check"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #airlinesTemplate>
              <ng-container>
                <div class="row no-gutters border-bottom pb-2 mb-2">
                  <div class="col">
                    <div class="h4 text-light text-outline stroke-shadow">
                      Airlines
                    </div>
                  </div>
                </div>
                <div class="row" *ngFor="let subResource of airlineResources">
                  <div *ngIf="subResource.status !== 2" class="col-12">
                    <div
                      class="row no-gutters rounded bg-info display-item mb-1"
                      [ngClass]="{'alert-info': subResource.status === 0, 'alert-warning': subResource.status === 1, 'alert-danger': subResource.status === -1}">
                      <div class="col-10 my-auto">
                        <div class="display-item-label text-dark pl-2">{{ subResource.name }}</div>
                      </div>
                      <div class="col-2 no-outline pr-1 pt-1">
                        <button *ngIf="subResource.status === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeAirlineSourceByName(subResource.name)">
                          <span class="fa fa-play-circle-o"></span>
                        </button>
                        <button *ngIf="subResource.status === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                          <span class="fa fa-spinner fa-spin"></span>
                        </button>
                        <button *ngIf="subResource.status === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeAirlineSourceByName(subResource.name)">
                          <span class="fa fa-refresh"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- If no all have status 0, then show list -->
                  <ng-container *ngIf="!getAllUntouched(subResource)">
                    <div class="row"  *ngFor="let subSource of getSubSource(airlineResources, subResource)">
                      <div class="col-12">
                        <div
                          class="row no-gutters rounded bg-info display-item mb-1"
                          [ngClass]="{'alert-info': subSource.status === 0, 'alert-warning': subSource.status === 1, 'alert-danger': subSource.status === -1}">
                          <div class="col-10 my-auto">
                            <div class="display-item-label text-dark pl-4">{{ subSource.name }}</div>
                          </div>
                          <div class="col-2 no-outline pr-1 pt-1">
                            <button *ngIf="subSource.status === 1" class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                              <span class="fa fa-spinner fa-spin"></span>
                            </button>
                            <button *ngIf="subSource.status === 2" class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                              <span class="fa fa-check"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="rounded bg-secondary dashboard-box px-2 py-1">
            <div class="row no-gutters border-bottom pb-2 mb-2">
              <div class="col">
                <div class="d-inline-block h4 text-light text-outline stroke-shadow">Export Options</div>
                <button
                  class="btn btn-sm btn-danger d-inline-block text-light pull-right mt-1 ml-2"
                  (click)="exportNone()"
                  ngbTooltip="Unselect all"
                  container="body">
                  <span class="fa fa-square-o"></span>
                </button>
                <button
                  class="btn btn-sm btn-info d-inline-block text-light pull-right mt-1 ml-2"
                  (click)="exportAll()"
                  ngbTooltip="Select all"
                  container="body">
                  <span class="fa fa-check-square-o"></span>
                </button>
                <button
                  class="btn btn-sm btn-primary d-inline-block text-light pull-right mt-1"
                  (click)="download()"
                  ngbTooltip="Download selected files"
                  container="body"
                  [disabled]="!downloadable">
                  <span class="fa fa-download"></span>
                  <span>&nbsp;&nbsp;{{ selectedFileCount }}</span>
                </button>
              </div>
            </div>
            <div class="row no-gutters rounded mb-1">
              <div class="card w-100">
                <div class="card-header alert-info font-weight-bold py-1">
                    <span class="d-inline-block">Ontologies</span>
                </div>
                <div class="card-body pt-1 pb-0">
                  <div class="card-text">
                    <div class="row">
                      <div class="col-12 dashboard-list-fragment">
                        <ul class="list-unstyled px-0 mb-0">
                          <li>
                            <div class="dashboard-item">
                              <label class="w-100 my-0" (click)="exportSelectChange('Ontologies', 'Download Ontologies', $event)">
                                <div
                                  class="dashboard-item-label d-inline-block"
                                  ngbTooltip="Due to linked nature of the data. Ontologies are either all downloaded, or not at all."
                                  container="body">Download Ontologies</div>
                                <div class="dashboard-item-value d-inline-block pull-right text-right pt-0">
                                  <input
                                    type="checkbox"
                                    [checked]="exportOptions.Ontologies['Download Ontologies']"
                                    value="{{ exportOptions.Ontologies['Download Ontologies'] }}"/>
                                </div>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-1"/>
            <ng-container *ngFor="let key of getDashboardKeys()">
              <div class="row no-gutters rounded mb-1">
                <div *ngIf="getDashboardKeyCount(key)" class="card w-100">
                  <div class="card-header alert-info font-weight-bold py-1">
                    <span class="d-inline-block pt-1">{{ key }} Entities</span>
                    <span class="d-inline-block pull-right text-right" style="font-size: 0.75rem;">
                      <button class="btn btn-sm btn-link" ngbTooltip="Check all in category" (click)="exportAll(key)">
                        <span class="fa fa-check-square-o"></span>
                      </button>&nbsp;|&nbsp;
                      <button class="btn btn-sm btn-link" ngbTooltip="Uncheck all in category" (click)="exportNone(key)">
                        <span class="fa fa-square-o"></span>
                      </button>
                    </span>
                  </div>
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div *ngFor="let listNumber of getListNumber(key); let index=index;" class="col-lg-6 dashboard-list-fragment">
                          <ul class="list-unstyled px-0">
                            <li *ngFor="let item of getExportFragment(key, index) | keyvalue">
                              <div class="dashboard-item">
                                <label class="w-100 my-0" (click)="exportSelectChange(key, item.key)">
                                  <div class="dashboard-item-label d-inline-block" ngbTooltip="{{item.key}}" container="body">{{ item.key }}:</div>
                                  <div class="dashboard-item-value d-inline-block pull-right text-right pt-0"><input id="{{ key }}~{{ item.key }}" type="checkbox" [checked]="item.value" value="{{ item.value }}"/></div>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="getDashboardKeyCount(key)" class="my-1"/>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
