<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="rounded bg-secondary control-box px-2 py-1">
        Bob
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="rounded bg-secondary control-box px-2 py-1">
        <div class="row no-gutters border-bottom pb-2 mb-2">
          <div class="col">
            <div class="h4 text-light text-outline stroke-shadow">Data Sources</div>
          </div>
          <div class="col">
            <button class="btn btn-sm btn-danger rounded pull-right" (click)="flushStore()" type="button">Reset</button>
          </div>
        </div>

        <div class="row no-gutters rounded bg-info control mb-1">
          <div class="col-9 my-auto">
            <div class="h5 text-dark pl-2">CIA World Factbook</div>
          </div>
          <div class="col-3 no-outline p-1">
            <button class="btn btn-outline-primary rounded pull-right" (click)="scrapeFactbook()" [disabled]="isScrapingBusy()">
              <span class="fa fa-2x fa-circle-o-notch" [class.fa-spin]="isScraping['factbook']"></span>
            </button>
          </div>
        </div>

        <div class="row no-gutters rounded bg-info control mb-1">
          <div class="col-9 my-auto">
            <div class="h5 text-dark pl-2">CIA World Leaders</div>
          </div>
          <div class="col-3 no-outline p-1">
            <button class="btn btn-outline-primary rounded pull-right" (click)="initScraping('leaders')">
              <span class="fa fa-2x fa-circle-o-notch" [class.fa-spin]="isScraping['leaders']"></span>
            </button>
          </div>
        </div>

        <div class="row no-gutters rounded bg-info control mb-1">
          <div class="col-9 my-auto">
            <div class="h5 text-dark pl-2">World Airports</div>
          </div>
          <div class="col-3 no-outline p-1">
            <button class="btn btn-outline-primary rounded pull-right" (click)="initScraping('airports')">
              <span class="fa fa-2x fa-circle-o-notch" [class.fa-spin]="isScraping['airports']"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="rounded bg-secondary display-box p-2">
        <div class="row no-gutters border-bottom pb-2 mb-2">
          <div class="col">
            <div class="h4 text-light text-outline stroke-shadow">
              Countries
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let country of countries">
          <div *ngIf="country.status !== 2" class="col-12">
            <div
              class="row no-gutters rounded bg-info display-item mb-1"
              [ngClass]="{'alert-info': country.status === 0, 'alert-warning': country.status === 1, 'alert-danger': country.status === -1}">
              <div class="col my-auto">
                <div class="text-dark pl-2">{{ country.name }}</div>
              </div>
              <div class="col no-outline pr-1 pt-1">
                <button *ngIf="country.status === 0"  class="btn btn-sm btn-outline-primary rounded pull-right" (click)="scrapeCountryByName(country.name)">
                  <span class="fa fa-play-circle-o"></span>
                </button>
                <button *ngIf="country.status === 1"  class="btn btn-sm btn-outline-dark rounded pull-right" disabled=true>
                  <span class="fa fa-spinner fa-spin"></span>
                </button>
                <button *ngIf="country.status === -1"  class="btn btn-sm btn-outline-dark rounded pull-right" (click)="scrapeCountryByName(country.name)">
                  <span class="fa fa-refresh"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
