<nav class="navbar sticky-top navbar-expand-lg navbar-dark border-bottom mb-2" style="background-color: #343a40;">
  <a
    class="navbar-brand mr-5 stroke-shadow font-weight-bold"
    [routerLink]="'/dashboard'"
    routerLinkActive="active">
    <img
      alt="Data Glutton Logo"
      class="d-inline-block align-top mr-2 p-2"
      height="50"
      src="assets/images/data-glutton-icon-light-2.png"
      width="50"
      style="background-color: #593196; border-top-right-radius: 50%;">
    <div class="d-inline-block h-100" style="padding-top: 7px;">Data Glutton</div>
  </a>
  <div class="collapse navbar-collapse" [class.show]="!collapsed" id="navMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 font-weight-bold">
      <li class="nav-item mr-2">
        <a class="nav-link stroke-shadow" [routerLink]="'/dashboard'" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link stroke-shadow" [routerLink]="'/ontology'" routerLinkActive="active">Ontology</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link stroke-shadow" [routerLink]="'/sources'" routerLinkActive="active">Sources</a>
      </li>
      <li class="nav-item d-block d-lg-none" (click)="collapsed = true">
        <a class="nav-link stroke-shadow" href="#">Close Menu</a>
      </li>
    </ul>
  </div>

  <button
    aria-controls="navMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
    [class.d-none]="!collapsed"
    (click)="toggleNavbar()"
    data-toggle="collapse"
    data-target="#navMenu"
    type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<router-outlet></router-outlet>
