<ngb-accordion #a="ngbAccordion">
  <ngb-panel *ngFor="let ont of ontologies | keyvalue">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0 text-decoration-none">{{ ont.key }}</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <div class="card-title">
          {{ getLabel(ont.value) }} Work in progress...
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>