<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="rounded bg-secondary control-box px-2 py-1">
        <div class="row no-gutters border-bottom pb-2 mb-2">
          <div class="col">
            <div class="h4 text-light text-outline stroke-shadow">Data Sources</div>
          </div>
          <div class="col">
            <button class="btn btn-sm btn-danger rounded pull-right ml-2" (click)="flushStore()" type="button">Reset</button>
            <button class="btn btn-sm btn-primary rounded pull-right" (click)="scrapeAll()" type="button">Scrape All</button>
          </div>
        </div>

        <div class="row no-gutters rounded bg-info control mb-1">
          <div class="col-9 my-auto">
            <div class="h5 text-dark pl-2">CIA World Factbook</div>
          </div>
          <div class="col-3 no-outline p-1">
            <button class="btn btn-outline-primary rounded pull-right" (click)="scrapeFactbook()" [disabled]="isScrapingBusy()">
              <span class="fa fa-3x fa-circle-o-notch" [class.fa-spin]="isScraping['factbook']"></span>
            </button>
          </div>
        </div>

        <div class="row no-gutters rounded bg-info control mb-1">
          <div class="col-9 my-auto">
            <div class="h5 text-dark pl-2">CIA World Leaders</div>
          </div>
          <div class="col-3 no-outline p-1">
            <button class="btn btn-outline-primary rounded pull-right" (click)="initScraping('leaders')">
              <span class="fa fa-3x fa-circle-o-notch" [class.fa-spin]="isScraping['leaders']"></span>
            </button>
          </div>
        </div>

        <div class="row no-gutters rounded bg-info control mb-1">
          <div class="col-9 my-auto">
            <div class="h5 text-dark pl-2">World Airports</div>
          </div>
          <div class="col-3 no-outline p-1">
            <button class="btn btn-outline-primary rounded pull-right" (click)="initScraping('airports')">
              <span class="fa fa-3x fa-circle-o-notch" [class.fa-spin]="isScraping['airports']"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="rounded bg-secondary display-box p-2">
        <div class="row no-gutters border-bottom pb-2 mb-2">
          <div class="col">
            <div class="h4 text-light text-outline stroke-shadow">
              Countries
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let country of countries">
          <div class="col-12">
            <div
              class="row no-gutters rounded bg-info control mb-1"
              [ngClass]="{'alert-primary': country.status === 0, 'alert-danger': country.status === -1, 'alert-success': country.status === 2}">
              <div class="col my-auto">
                <div class="h5 text-dark pl-2">{{ country.name }}</div>
              </div>
              <div *ngIf="country.status !== 2" class="col no-outline p-1">
                <button *ngIf="country.status === 0"  class="btn btn-outline-primary rounded pull-right" (click)="scrapeCountry(country.name)">
                  <span class="fa fa-3x fa-play-circle-o"></span>
                </button>
                <button *ngIf="country.status === 1"  class="btn btn-outline-primary rounded pull-right">
                  <span class="fa fa-3x fa-spinner fa-spin"></span>
                </button>
                <button *ngIf="country.status === -1"  class="btn btn-outline-primary rounded pull-right" (click)="scrapeCountry(country.name)">
                  <span class="fa fa-3x fa-refresh"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
